<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Cidaas Oauth2 Connect Configuration</title>
        <title lang="de-DE">Cidaas Oauth2 Connect-Konfiguration</title>

        <input-field>
            <name>clientId</name>
            <copyable>true</copyable>
            <label>Client Id</label>
            <label lang="de-DE">Client Id</label>
            <placeholder>Client Id</placeholder>
            <placeholder lang="de-DE">Client Id</placeholder>
            <helpText>Please enter client Id for your cidaas oauth2 Connect app</helpText>
            <helpText lang="de-DE">Ihre Kunden-ID für die cidaas oauth2 Connect App</helpText>
        </input-field>        

        <input-field type="password">
            <name>clientSecret</name>
            <label>Client Secret</label>
            <label lang="de-DE">Geheim Schlüssel</label>
            <helpText>Please client secret from your cidaas oauth2 Connect app</helpText>
            <helpText lang="de-DE">Ihr Kundengeheimnis für die cidaas oauth2 Connect App</helpText>
        </input-field>
        <input-field type="url">
            <name>redirectUri</name>
            <label>Redirect Url</label>
            <label lang="de-DE">Redirect Uri</label>
        </input-field>
        <input-field>
            <name>grantType</name>
            <label>Grant Type</label>
            <label lang="de-DE">Grant Type</label>
        </input-field>
        <input-field type="url">
            <name>authorizationUri</name>
            <label>Authorization URL</label>
            <label lang="de-DE">Authorization URL</label>
        </input-field>
        <input-field type="url">
            <name>tokenUri</name>
            <label>Access Token Uri</label>
            <label lang="de-DE">Access Token Uri</label>
        </input-field>        
    </card>    
</config>
