{% set cidaasOpenAuthParent %}{% include '@CidaasOpenAuth/administration/index-base.html.twig' %}{% endset %}
{% set cidaasOpenAuthScript %}{% include '@CidaasOpenAuth/administration/index-js.html.twig' %}{% endset %}
{{ cidaasOpenAuthParent|replace({'</body>': cidaasOpenAuthScript})|raw }}
